*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	display: inline-block;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.container{
	width: 660px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
body{
	min-width: 700px;
	font-size: 14px;
	line-height: 18px;
}
.header__top{
	background-color: #88b77b;
	height: 30px;
}
.header__logo{
	display: inline-block;
}
.header__profile{
	float:right;
	background-image: url(../img/header__profile.png);
	background-repeat: no-repeat;
	background-size: 17%;
	padding-left: 30px;
	color: white;
	font-size: 20px;
	line-height: 28px;
	border: 1px solid transparent;
}
.header__profile:hover{
	border-color: white;
}
.img_logo{
	height:30px;
}
.menu li{
	display: inline-block;
}
.menu a{
	line-height: 28px;
	padding: 0 10px;
	border: 1px solid transparent;
	color: #88b77b;
	transition: all .3s;
}
.menu a:hover{
	border-color: #88b77b;
}