{% extends 'mysite/main.html' %}
{% load static %}


{% block content_of_main %}

    <div class="all_courses">
        <div class="container">
            <div>
                <h1> All available courses </h1>
            </div>

            {% for c in courses %}
                <div class="courses__course">
                    <h2>Course name: <a href="/courses/{{c.course_id}}">{{ c.course_name }}</a></h2>
                    <p>Published: {{ c.published_date }}</p>
                    <p>Season: {{ c.season}}</p>
                    <p>{{c.course_info}}</p>

                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}
