{% extends 'mysite/main.html' %}
{% load static %}

{% block content_of_main %}

<div class="particular_course">
    <div class="container">
        <div class="courses__course">
            <div class="course__name">
              <h1>{{ сourse.course_name }}</h1>
            </div>
            <div class="course__info">
              <p>{{ сourse.course_info }}</p>
            </div>

            <h1>All available books for this course</h1>
            {% for b in books %}
                <div class="course">
                    <h3><a href="{{ b.link_to_download }}" target="_blank">{{ b.book_title }}</a></h3>
                    <p>published: {{ b.last_update }}</p>
                    <p>{{ b.author}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
