<!DOCTYPE html>

{% load static %}
{% csrf_token %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}">-->
<!--/img/header__logo.png-->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authorization</title>
  <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}">
</head>
<body>

<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__logo">
        <img src="{% static 'mysite/img/header__logo.png' %}" class="img_logo">
      </div>
      <a href="#" class="header__profile">Authorization</a>
    </div>
  </div>
</header>


<section class="main">
  <div class="container">

    <div class="login">

      <div class="login__header">
        <div class="login__header__name">
          Dark Site
        </div>
      </div>

      <div class="login__screen">

        <form class="login__form" action="registration/login" method="post">
          <div class="login__input">
            <input type="text" class="login__field" value="" placeholder="Username" id="username"
                   name="username">
            <label class="login-field-icon fui-user" for="username"></label>
          </div>

          <div class="login__input">
            <input type="password" class="login__field" value="" placeholder="Password" id="password"
                   name="password">
            <label class="login-field-icon fui-lock" for="password"></label>
          </div>

          <div class="login__submit">
            <input type="submit" value="Login" class="login__button">
            <div>
              <a class="login-link" href="registration/register">Don't have an account?</a>
            </div>
            <div>
              <a class="login-link" href="registration/reset_password">Forgot your password?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>