<!DOCTYPE html>

{% load static %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}">-->
<!--/img/header__logo.png-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}">
</head>
<body>

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__logo">
                <img src="{% static 'mysite/img/header__logo.png' %}" class="img_logo">
            </div>
            <a href="#" class="header__profile">Authorization</a>
        </div>
    </div>
</header>

<section class="main">
    <div class="container">

        <div class="login">

            <div class="login__header">
                <div class="login__header__name">
                    Dark Site
                </div>
            </div>

            <div class="login__screen">
                <form class="login__form" method="post">
                    {% csrf_token %}
                    <div class="login__input">
                        <input type="text" class="login__field" value="" placeholder="Username" id="username"
                               name="username">
                        <label class="login-field-icon fui-user" for="username"></label>
                    </div>

                    <div class="login__input">
                        <input type="password" class="login__field" value="" placeholder="Password" id="password"
                               name="password">
                        <label class="login-field-icon fui-lock" for="password"></label>
                    </div>

                    <div class="login__submit">
                        <button type="Submit" class="login__button">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
